<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
	<targets>
		<!-- Log to console (Docker-friendly) -->
		<target name="console" xsi:type="Console" layout="${date} | ${level} | ${message} | ${exception:format=tostring}" />
		<!-- Log to file for persistence -->
		<target name="file" xsi:type="File" fileName="logs/${shortdate}.log" layout="${date} | ${level} | ${message} | ${exception:format=tostring}" />
	</targets>
	<rules>
		<logger name="*" minlevel="Info" writeTo="console,file" />
		<logger name="*" minlevel="Error" writeTo="console,file" />
	</rules>
</nlog>